<%= form_for(@job_salary_component) do |f| %>
  <% if @job_salary_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_salary_component.errors.count, "error") %> prohibited this job_salary_component from being saved:</h2>

      <ul>
      <% @job_salary_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
