<h1>Listing job_employment_statuses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_employment_statuses.each do |job_employment_status| %>
      <tr>
        <td><%= link_to 'Show', job_employment_status %></td>
        <td><%= link_to 'Edit', edit_job_employment_status_path(job_employment_status) %></td>
        <td><%= link_to 'Destroy', job_employment_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment status', new_job_employment_status_path %>
