<h1>Editing News</h1>

<%= link_to 'Back', manage_news_index_path, class: "btn  pull-right" %>
<%= render 'form', { url: manage_news_path } %>

<%= render partial: "/documents/list", locals: { documents: @documents, attachment_for: @news } %>

