<div class="modal fade modal-width-800" id="subscriber-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= action %> Subscriber</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "form", locals: { action: "Editing" } %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
