.icon-list {
  background-color: #ffffff;
  vertical-align: middle;
}

.align-center, td.align-center {
  text-align: center;
}

.select2 {
  width: 206px;
}

.span9 .select2 {
  width: 220px;
}

.time {
  width: 103px;
}
