.icon-list {
  background-color: #ffffff;
  vertical-align: middle;
}

.align-center, td.align-center {
  text-align: center;
}

.select2 {
  width: 206px;
}

.span9 .select2 {
  width: 220px;
}

.time {
  width: 103px;
}

.tree li a.tree-links-no-border {
  border: none;
}

div.modal.modal-width-800 {
  left: 42%;
  width: 800px;
}

.width-180 {
  width: 180px;
}

span.required {
  color: #d9534f;
}

.menu{
margin:0px;
padding:0px 0px 10px 0px;
    font-family: "Times New Roman";
font-size:14px;
font-weight:bold;
    color:#6D6D6D;
}
 .menu ul{
height:26px;
list-style:none;
margin:0;
padding:0;
}
.menu li{
    float:left;
    padding:0px;
    }
.menu li a{
    color:#6D6D6D;
    display:block;
    font-weight:normal;
    line-height:26px;
    margin:0px;
    padding:0px 25px;
    text-align:center;
    text-decoration:none;
    }
    .menu li a:hover, .menu ul li:hover a{

       background: #ca9875 url("menu_images/hover.gif") bottom center no-repeat;
                    color:#6D6D6D;
        text-decoration:none;
        }
.menu li ul{
    /*background:#333333;*/
            /*background: #B32267;*/
            background: white;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    /*width: 225px;*/
            width:200px;
    z-index:200;
    /*top:1em;
    /*left:0;*/
    }
.menu li:hover ul{
    display:block;

    }
.menu li li {
    background:url('menu_images/sub_sep.gif') bottom left no-repeat;
    display:block;
    float:none;
    margin:0px;
    padding:0px;
            /*width: 225px;*/
    width:200px;
    }
.menu li:hover li a{
    background:none;

    }
.menu li ul a{
    display:block;
    height:26px;
    font-size:13px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
    }
    .menu li ul a:hover, .menu li ul li:hover a{
background:#ca9875 url('menu_images/hover_sub.gif') center left no-repeat;
        border:0px;
        color:#ffffff;
        text-decoration:none;
        }
.menu p{
    clear:left;
    }
.menu ul li ul li { position: relative; }
.menu ul li ul li ul, .menu ul li:hover ul li ul { display: none; }
.menu ul li ul li:hover ul {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}
.menu ul li ul li:hover ul li a { background: none; color: #6d6d6d; }
.menu ul li ul li:hover ul li a:hover { background:#ca9875 url('menu_images/hover_sub.gif') center left no-repeat; color: #fff; }
