.icon-list {
  background-color: #ffffff;
  vertical-align: middle;
}

.align-center, td.align-center {
  text-align: center;
}

.select2 {
  width: 206px;
}

.span9 .select2 {
  width: 220px;
}

.time {
  width: 103px;
}

.tree li a.tree-links-no-border {
  border: none;
}

div.modal.modal-width-800 {
  left: 42%;
  width: 800px;
}

.width-180 {
  width: 180px;
}