<%= form_for([:configuration, @leave_notification]) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @leave_notification, name: "Leave Notification" } %>


  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
