<%= form_for(@configuration_leave_notification) do |f| %>

  <%= render partial: "/shared/form_errors", locals: { obj: @configuration_leave_notification, name: "configuration leave notification" } %>


  <fieldset>
    <div class="actions">
      <%= f.submit nil, class: "btn btn-primary" %>
    </div>
  </fieldset>

<% end %>
