<div class="menu">
  <ul>
    <li>
      <a href="#">Admin</a>
      <%= render partial: "/layouts/admin_links" %>
    </li>
    <li>
      <a href="#">PIM</a>
      <%= render partial: "/layouts/pim" %>
    </li>
    <li>
      <a href="#">Leave</a>
    </li>
    <li>
      <a href="#">Time</a>
    </li>
    <li>
      <a href="#">Recruitment</a>
    </li>
    <li>
      <a href="#">Performance</a>
    </li>
    <li>
      <a href="#">Training</a>
    </li>
    <li>
      <a href="#">More</a>
    </li>
  </ul>
</div>
