<a href="#">Leave</a>

<ul>
  <li>
    <%= link_to "Entitlements", leave_entitlements_path %>
  </li>
  <li>
    <a href="#">Reports</a>
  </li>
  <li>
    <a href="#">Configure</a>
  </li>
  <li>
    <a href="#">Leave List</a>
  </li>
  <li>
    <a href="#">Assign Leave</a>
  </li>
  <li>
    <a href="#">Leave Calendar</a>
  </li>
</ul>