<ul>
  <li>
    <a href="#">Configuration</a>
    <ul>
      <li>
        <%= link_to "Custom Fields", configuration_custom_fields_path %>
      </li>
      <li>
        <%= link_to "Data Imports", "#" %>
      </li>
      <li>
        <%= link_to "Reporting Methods", "#" %>
      </li>
      <li>
        <%= link_to "Termination Reasons", "#" %>
      </li>
    </ul>
  </li>
</ul>