PIM
<ul class="nav nav-pills">

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configuration <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Custom Fields", configuration_custom_fields_path %>
      </li>
      <li>
        <%= link_to "Data Imports", "#" %>
      </li>
      <li>
        <%= link_to "Reporting Methods", "#" %>
      </li>
      <li>
        <%= link_to "Termination Reasons", "#" %>
      </li>
    </ul>
  </li>
</ul>