<% if current_user_type == "visitor" %>
  <li><%= link_to "Admin Login", new_admin_session_path %></li>
  <li><%= link_to "User Login", new_user_session_path, "data-no-turbolink" => true %></li>
<% end %>