<a href="#">Time</a>

<ul>
  <li>
    <a href="#">Timesheets</a>
    <ul>
      <li>
        <%= link_to "Employee Timesheets", timesheets_employee_timesheets_path %>
      </li>
      <li>
        <%= link_to "Export To CSV", "#" %>
      </li>

    </ul>
  </li>
  <li>
    <a href="#">Attendance</a>
  </li>
  <li>
    <a href="#">Reports</a>
  </li>
  <li>
    <a href="#">Project Info</a>
  </li>
</ul>